.concrete-products__container.container
    h2.concrete-products__name-section ФБС ГОСТ 13579-2018
    .cp-card-block
        .concrete-products__card-product
            img(src="../img/beton-page-img/fbs__img.jpg", alt="Фундаментный блок ФБС - 24.6.6-Т").cp-card-product__img
            .cp-card-product__name ФБС - 24.6.6-Т
            .cp-card-product__discr Блок стеновой размером 2380х600х580 мм. <br>(Длина x ширина х высота)
            .cp-card-product__price 3200 р.
            .cp-card-product__button-block
                //- button.cp-cp__button_info Подробнее
                button.cp-cp__button_bay  Заказать
        .concrete-products__card-product
            img(src="../img/beton-page-img/fbs__img.jpg", alt="Фундаментный блок ФБС - 24.6.6-Т").cp-card-product__img
            .cp-card-product__name ФБС - 12.6.6-Т
            .cp-card-product__discr Блок стеновой размером 1180х600х580 мм.<br>(Длина x ширина х высота)
            .cp-card-product__price 1800 р.
            .cp-card-product__button-block
                //- button.cp-cp__button_info Подробнее
                button.cp-cp__button_bay  Заказать
        .concrete-products__card-product
            img(src="../img/beton-page-img/fbs__img.jpg", alt="Фундаментный блок ФБС - 24.6.6-Т").cp-card-product__img
            .cp-card-product__name ФБС - 24.4.6-Т
            .cp-card-product__discr Блок стеновой размером 2380х400х580 мм.<br>(Длина x ширина х высота)
            .cp-card-product__price 2200 р.
            .cp-card-product__button-block
                //- button.cp-cp__button_info Подробнее
                button.cp-cp__button_bay  Заказать
        .concrete-products__card-product
            img(src="../img/beton-page-img/fbs__img.jpg", alt="Фундаментный блок ФБС - 24.6.6-Т").cp-card-product__img
            .cp-card-product__name ФБС - 12.4.6-Т
            .cp-card-product__discr Блок стеновой размером 1180х400х580 мм.<br>(Длина x ширина х высота)
            .cp-card-product__price 1100 р.
            .cp-card-product__button-block
                //- button.cp-cp__button_info Подробнее
                button.cp-cp__button_bay  Заказать
        .concrete-products__card-product
            img(src="../img/beton-page-img/fbs__img.jpg", alt="Фундаментный блок ФБС - 24.6.6-Т").cp-card-product__img
            .cp-card-product__name ФБС - 9.4.6-Т
            .cp-card-product__discr Блок стеновой размером 880х400х580 мм.<br>(Длина x ширина х высота)
            .cp-card-product__price 950 р.
            .cp-card-product__button-block
                //- button.cp-cp__button_info Подробнее
                button.cp-cp__button_bay  Заказать

