//-- Секция с информацией о доставке
.delivery__container.container
    h2.delivery__title Доставляем бетон<br> собственным транспортом
    .delivery__discription     
        img(src="img/beton-page-img/abs.png" alt="Автобетоносмеситель c фирменным логотипом компании Монолит. Большой буквом М на белом фоне").abs-img
        img(src="img/beton-page-img/eight.svg", alt="Доставка максимально 8 кубических метров бетона за один рейс").eight-img
        img(src="img/beton-page-img/price.svg", alt="Стоимость доставки по городу 3600").price-img