//-- Подвал сайта

div.container.footer__container.flex
    ul.footer-contact__list
        li.footer-contact__item
            img(src="img/logo/logo_monolit_w.png", alt="Логотип монолит в виде синей буквы м")
        li.footer-contact__item
            p.footer-contact__discription.footer-contact__discription_title Контакты:

        li.footer-contact__item
            p.footer-contact__discription Общество с ограниченной ответственностью<br> “Научно-производственная фирма “Монолит”

        li.footer-contact__item
            p.footer-contact__discription ИНН 5903070375 КПП 590801001

        li.footer-contact__item
            p.footer-contact__discription Адрес местонахождения: <br> 614023, г. Пермь, ул. Промучасток, 40
    ul.footer-contact-link__list
        li.footer-contact-link__item
            a(href='mailto:monolitsab@mail.ru').footer-contact-link monolitsab@mail.ru
        li.footer-contact-link__item
            a(href='tel://+79824814004').footer-contact-link.footer-contact-link_tel tel: +7 (342) 204-06-46 
        li.footer-contact-link__item
            form(method="post" action="php/send_monolit.php").form-message
                label(for="mail").form-message__lable Отправить сообщение:
                input(type="email", id='mail', placeholder="Email:", name="email").form-message__input
                textarea(name="message", cols="15", rows="3", placeholder="Ваше сообщение ...").form-message__textarea
                button(type="submit").form-message__button Отправить
                input(type="hidden" name="act" value="order")
        li.footer-contact-link__item
            a(
                href='http://gubinvs.ru/webdevelopment.html',
                target='blank'
            ).footer-contact-link  