//-- Шапка сайта
header.header.header__catalog
    .container.container-header
        //-- Блок header с логотипом компании
        .header-logo
            //-- Картинка логотипа
            a(href='index.html').header-logo__link
                img(
                    src='../img/logo/logo_monolit_w.png', 
                    alt='Логотип компании научно-производственная фирма Монолит'
                ).header-logo__img
            //-- Название компании в логотипе
            div.header-logo__title
                span.header-logo__name-ooo.header-logo__name-ooo_catalog Научно-производственная фирма
                span.header-logo__name-monolit.header-logo__name-monolit_catalog МОНОЛИТ                
            //-- Правый блок header с кнопкой Shop и телефоном
        nav.header-navigation.header-navigation__catalog 
            ul.header-navigation__list
            ul.header-navigation__list
                li.header-navigation__item 
                    a(href="index.html").hn-link.hn-link_catalog Главная |
                li.header-navigation__item 
                    a(href="beton.html").hn-link.hn-link_catalog Товарный бетон |
                li.header-navigation__item 
                    a(href="zhbiizdeliy.html").hn-link.hn-link_catalog Бетонные изделия |
                li.header-navigation__item 
                    a(href="drymixes.html").hn-link.hn-link_catalog Сухие смеси |
                    
        .header-tel 
            a(
                href='tel://+79824814004'
            ).header-tel__link.header-tel__link_catalog +7 (342) 202-40-04