//-- Шапка сайта
header.header
    .container.container-header
        //-- Блок header с логотипом компании
        .header-logo
            //-- Картинка логотипа
            a(href='index.html').header-logo__link
                img(
                    src='img/logo/logo_monolit.png', 
                    alt='Логотип компании научно-производственная фирма Монолит'
                ).header-logo__img
            //-- Название компании в логотипе
            div.header-logo__title
                span.header-logo__name-ooo Научно-производственная фирма
                span.header-logo__name-monolit МОНОЛИТ                
            //-- Правый блок header с кнопкой Shop и телефоном
        nav.header-navigation.header-navigation__catalog 
            ul.header-navigation__list
                li.header-navigation__item 
                    a(href="index.html").hn-link Главная |
                li.header-navigation__item 
                    a(href="beton.html").hn-link Товарный бетон |
                li.header-navigation__item 
                    a(href="zhbiizdeliy.html").hn-link Бетонные изделия |
                li.header-navigation__item 
                    a(href="drymixes.html").hn-link Сухие смеси |     
        .header-tel
            a(
                href='tel://+79124854875'
            ).header-tel__link +7 (342) 204-06-46