//-- Шапка сайта
header.header
    .container.container-header
        //-- Блок header с логотипом компании
        div.header-logo
            //-- Картинка логотипа
            a(href='index.html').header-logo__link
                img(
                    src='img/logo/logo_monolit.png', 
                    alt='Логотип компании научно-производственная фирма Монолит'
                ).header-logo__img
            //-- Название компании в логотипе
            div.header-logo__title
                span.header-logo__name-ooo Научно-производственная фирма
                span.header-logo__name-monolit МОНОЛИТ                
            //-- Правый блок header с кнопкой Shop и телефоном
        div.header-tel
            a(
                href='tel://+79824814004'
            ).header-tel__link +7 (342) 204-06-46