
//-- Главный заголовок страницы и его описание
.main-index-container.container
    h1.main-index-section__title Производство<br> тампонажных материалов
    span.main-index-section__discription для строительства нефтяных и газовых скважин в сложных горно-геологических и технологических условиях.
