//-- Главный заголовок страницы и его описание
.main-drymixes-container.container
    .drymixes-container__block-title
        h1.main-drymixes-section__title Производство <br> строительных материалов
        span.main-drymixes-section__discription с соблюдением требований ГОСТ Р, для использовании в частном и промышленном строительстве
    .drymixes-container__block-img 
        img(
            src="img/drymixes-page-img/main-drymixes-img.svg", 
            alt="Фото строительного шпателя со штукатруркой"
        ).block-img__img
        