//-- Главный заголовок страницы и его описание
.main-beton__container.container
    .beton-page__block-title
        h1.block-title__title Производим<br> товарный бетон.
        span.block-title__discription бесперебойные поставки товарного бетона с интенсивностью до 60 м<sup>3</sup> в час.
    .beton-page__block-img 
        img(
            src="img/beton-page-img/title_biglogo_beton.png", 
            alt="Фото логотип Научно производственной фирмы Монолит"
        ).block-img__img