//-- Секция с таблицей цен для физических лиц
.container.price__container
    h2.price__title Прайс для юридических лиц (с НДС 20%):
    span.price__discr 
    ul.price-table__list
        li.price-table__item
            span.table-item__text.table-item__title-name Класс и марка бетона
            span.table-item__text.table-item__title-name_filler-gravel Наполнитель гравий, руб
            span.table-item__text.table-item__title-name_filler-gravel Наполнитель щебень, руб
        li.price-table__item
            span.table-item__text.table-item__text-discr B 7,5 M100
            span.table-item__text.table-item__text-price 3100
            a(data-rel="f0a4ec62295320").btn-ens-action
                span.table-item__text.table-item__text-buy Заказать
            span.table-item__text.table-item__text-price 3500
            a(data-rel="f0a4ec62295327").btn-ens-action
                span.table-item__text.table-item__text-buy Заказать
        li.price-table__item
            span.table-item__text.table-item__text-discr B 12,5 M150
            span.table-item__text.table-item__text-price 3400
            a(data-rel="f0a4ec62295321").btn-ens-action
                span.table-item__text.table-item__text-buy Заказать
            span.table-item__text.table-item__text-price 3800
            a(data-rel="f0a4ec62295328").btn-ens-action
                span.table-item__text.table-item__text-buy Заказать
        li.price-table__item
            span.table-item__text.table-item__text-discr B 15 M200
            span.table-item__text.table-item__text-price 3650
            a(data-rel="f0a4ec62295322").btn-ens-action
                span.table-item__text.table-item__text-buy Заказать
            span.table-item__text.table-item__text-price 3900
            a(data-rel="f0a4ec62295329").btn-ens-action
                span.table-item__text.table-item__text-buy Заказать    
        li.price-table__item
            span.table-item__text.table-item__text-discr B 20 M250
            span.table-item__text.table-item__text-price 4250
            a(data-rel="f0a4ec62295323").btn-ens-action
                span.table-item__text.table-item__text-buy Заказать
            span.table-item__text.table-item__text-price 4650
            a(data-rel="f0a4ec62295330").btn-ens-action
                span.table-item__text.table-item__text-buy Заказать
        li.price-table__item
            span.table-item__text.table-item__text-discr B 25 M300
            span.table-item__text.table-item__text-price 4500
            a(data-rel="f0a4ec62295324").btn-ens-action
                span.table-item__text.table-item__text-buy Заказать
            span.table-item__text.table-item__text-price 5000 
            a(data-rel="f0a4ec62295331").btn-ens-action
                span.table-item__text.table-item__text-buy Заказать
        li.price-table__item
            span.table-item__text.table-item__text-discr B 25 M350
            span.table-item__text.table-item__text-price 4800
            a(data-rel="f0a4ec62295325").btn-ens-action
                span.table-item__text.table-item__text-buy Заказать
            span.table-item__text.table-item__text-price 5200
            a(data-rel="f0a4ec62295332").btn-ens-action
                span.table-item__text.table-item__text-buy Заказать        
        li.price-table__item
            span.table-item__text.table-item__text-discr B 30 M400
            span.table-item__text.table-item__text-price 5350
            a(data-rel="f0a4ec62295326").btn-ens-action
                span.table-item__text.table-item__text-buy Заказать
            span.table-item__text.table-item__text-price 5750
            a(data-rel="f0a4ec62295333").btn-ens-action
                span.table-item__text.table-item__text-buy Заказать
    include table-price-mobile_ooo.pug