ul.price-table__list_mobile
    li.price-table__item
            span.table-item__text.table-item__title-name Класс и марка бетона
            span.table-item__text.table-item__title-name_filler-gravel Наполнитель гравий, руб
    li.price-table__item
        span.table-item__text.table-item__text-discr B 7,5 M100
        span.table-item__text.table-item__text-price 2600
        a(data-rel="f0a4ec62283282").btn-ens-action
            span.table-item__text.table-item__text-buy Заказать

    li.price-table__item
        span.table-item__text.table-item__text-discr B 12,5 M150
        span.table-item__text.table-item__text-price 2800
        a(data-rel="f0a4ec62287143").btn-ens-action
            span.table-item__text.table-item__text-buy Заказать

    li.price-table__item
        span.table-item__text.table-item__text-discr B 15 M200
        span.table-item__text.table-item__text-price 3000
        a(data-rel="f0a4ec62287155").btn-ens-action
            span.table-item__text.table-item__text-buy Заказать
  
    li.price-table__item
        span.table-item__text.table-item__text-discr B 20 M250
        span.table-item__text.table-item__text-price 3450
        a(data-rel="f0a4ec62287158").btn-ens-action
            span.table-item__text.table-item__text-buy Заказать

    li.price-table__item
        span.table-item__text.table-item__text-discr B 25 M300
        span.table-item__text.table-item__text-price 3700
        a(data-rel="f0a4ec62287159").btn-ens-action
            span.table-item__text.table-item__text-buy Заказать

    li.price-table__item
        span.table-item__text.table-item__text-discr B 25 M350
        span.table-item__text.table-item__text-price 3900
        a(data-rel="f0a4ec62287187").btn-ens-action
            span.table-item__text.table-item__text-buy Заказать
       
    li.price-table__item
        span.table-item__text.table-item__text-discr B 30 M400
        span.table-item__text.table-item__text-price 4300
        a(data-rel="f0a4ec62287188").btn-ens-action
            span.table-item__text.table-item__text-buy Заказать

    //-- Таблица с ценами на щебень
    li.price-table__item
            span.table-item__text.table-item__title-name Класс и марка бетона
            span.table-item__text.table-item__title-name_filler-gravel Наполнитель щебень, руб
    li.price-table__item
        span.table-item__text.table-item__text-discr B 7,5 M100
        span.table-item__text.table-item__text-price 2900
        a(data-rel="f0a4ec62287189").btn-ens-action
            span.table-item__text.table-item__text-buy Заказать
    li.price-table__item
        span.table-item__text.table-item__text-discr B 12,5 M150
        span.table-item__text.table-item__text-price 3150
        a(data-rel="f0a4ec62287190").btn-ens-action
            span.table-item__text.table-item__text-buy Заказать
    li.price-table__item
        span.table-item__text.table-item__text-discr B 15 M200
        span.table-item__text.table-item__text-price 3350
        a(data-rel="f0a4ec62287191").btn-ens-action
            span.table-item__text.table-item__text-buy Заказать    
    li.price-table__item
        span.table-item__text.table-item__text-discr B 20 M250
        span.table-item__text.table-item__text-price 3800
        a(data-rel="f0a4ec62287192").btn-ens-action
            span.table-item__text.table-item__text-buy Заказать
    li.price-table__item
        span.table-item__text.table-item__text-discr B 25 M300
        span.table-item__text.table-item__text-price 4000 
        a(data-rel="f0a4ec62287193").btn-ens-action
            span.table-item__text.table-item__text-buy Заказать
    li.price-table__item
        span.table-item__text.table-item__text-discr B 25 M350
        span.table-item__text.table-item__text-price 4200
        a(data-rel="f0a4ec62287197").btn-ens-action
            span.table-item__text.table-item__text-buy Заказать        
    li.price-table__item
        span.table-item__text.table-item__text-discr B 30 M400
        span.table-item__text.table-item__text-price 4650
        a(data-rel="f0a4ec62287198").btn-ens-action
            span.table-item__text.table-item__text-buy Заказать