.main-drymixes-section {
  display: flex;
  height: 700px;
  background-image: url(../img/drymixes-page-img/main-drymixes-img__1920.jpg);
  background-position: bottom right;
  background-repeat: no-repeat;
}

.main-drymixes-container {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 5px;
  padding-left: 50px;
  padding-right: 20px;
}

.drymixes-container__block-title,
.drymixes-container__block-img {
  width: 98%;
  height: 98%;
}

.drymixes-container__block-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main-drymixes-section__title {
  margin-bottom: 10px;
  font-family: "Oswald", sans-serif;
  font-size: calc(48px + (100vw * 0.01 - 14.40px));
  font-weight: 600;
  line-height: 48px;
  color: #ffffff;
}

.main-drymixes-section__discription {
  font-size: calc(24px + (100vw * 0.01 - 14.40px));
  font-weight: 300;
  font-style: normal;
  line-height: 32px;
  color: #C4C4C4;
}

.block-img__img {
  width: 100%;
  height: 100%;
  padding: 10px;
}

@media only screen and (max-width: 1024px) {
  .main-drymixes-section {
    height: 500px;
    background-image: url(../img/drymixes-page-img/main-drymixes-img__1024.jpg);
    background-position: bottom center;
  }
  .main-drymixes-container {
    padding-bottom: 10px;
  }
  .drymixes-container__block-img {
    display: flex;
    justify-content: flex-end;
  }
  .main-drymixes-section__title {
    margin-bottom: 15px;
    text-shadow: #000000 1px 0 10px;
  }
  .main-drymixes-section__discription {
    font-size: 14px;
    line-height: 16px;
  }
}

@media only screen and (max-width: 420px) {
  .main-drymixes-section {
    height: 300px;
    background-image: url(../img/drymixes-page-img/main-drymixes-img__600.jpg);
    background-position: bottom center;
  }
  .main-drymixes-container {
    flex-direction: column;
    padding-bottom: 10px;
  }
  .main-drymixes-section__title {
    margin-bottom: 5px;
    font-size: 22px;
  }
  .main-drymixes-section__discription {
    font-size: 12px;
    line-height: 12px;
    background-color: #464646;
    color: #ffffff;
  }
  .block-img__img {
    display: none;
  }
}

.plaster-container {
  display: flex;
  padding: 100px 50px 100px 50px;
  border-radius: 15px;
  border: 3px solid #F0801B;
}

.cemonol_price {
  position: absolute;
  top: 60px;
  right: -50px;
  width: 100px;
}

.plaster__img {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-bag {
  margin-bottom: 30px;
}

.btn-bay {
  width: 100%;
  padding: 5px 10px 5px 10px;
  text-align: center;
  border: 1px solid #1355A0;
}

.btn-bay:hover {
  cursor: pointer;
  border: 1px solid #F0801B;
  background-color: #F0801B;
  color: #ffffff;
}

.plaster__feature {
  position: relative;
  width: 100%;
  padding-left: 100px;
}

.feature__title {
  margin-bottom: 5px;
  font-size: calc(38px + (100vw * 0.01 - 14.40px));
}

.feature__discription {
  margin-bottom: 10px;
  font-size: calc(20px + (100vw * 0.01 - 14.40px));
}

.table__item {
  display: flex;
  width: 100%;
}

.table__item:not(:last-of-type) {
  margin-bottom: 5px;
}

.table__title {
  padding: 5px 10px 5px 10px;
  font-size: calc(20px + (100vw * 0.01 - 14.40px));
  background-color: #1355a0;
  color: #ffffff;
}

.table__title_left {
  width: 80%;
  margin-right: 2px;
  border: 1px solid #1355A0;
}

.table__title_right {
  width: 20%;
  border: 1px solid #1355A0;
  text-align: center;
}

.table__discription {
  padding: 5px 10px 5px 10px;
  border: 1px solid #1355A0;
  font-size: calc(16px + (100vw * 0.01 - 14.40px));
}

.table__discription_left {
  width: 80%;
  margin-right: 2px;
}

.table__discription_right {
  width: 20%;
  text-align: center;
}

.presentation-block {
  position: absolute;
  top: -60px;
  right: 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.presentation-block__title {
  margin-bottom: 10px;
  font-size: 24px;
  color: #1355A0;
}

.presentation-block__download {
  display: flex;
  align-items: flex-end;
}

.block-download__img {
  margin-right: 10px;
}

.block-download__icon {
  width: 50px;
  height: 30px;
  background-image: url(../img/drymixes-page-img/download.svg);
  background-position: top;
  background-repeat: no-repeat;
}

.icon__text {
  font-size: 14px;
}

.block-download__icon_a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-download__icon_a:hover .icon__text {
  color: #F0801B;
}

.block-download__icon_a:hover .block-download__icon {
  background-image: url(../img/drymixes-page-img/download__hover.svg);
  background-position: top;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1024px) {
  .presentation-block {
    top: -50px;
    right: -40px;
  }
}

@media only screen and (max-width: 960px) {
  .plaster-container {
    flex-direction: column;
  }
  .plaster__img {
    width: 30%;
    margin-bottom: 20px;
  }
  .presentation-block {
    top: -100px;
    right: 3px;
  }
  .plaster__feature {
    padding: 0;
  }
}

@media only screen and (max-width: 549px) {
  .plaster__img {
    width: 70%;
    margin-bottom: 150px;
  }
  .plaster__feature {
    padding-left: 0;
  }
  .presentation-block {
    top: -120px;
    right: 3px;
  }
  .table__title {
    padding: 5px 10px 5px 5px;
  }
  .table__discription {
    padding: 5px 10px 5px 5px;
  }
}
