//- Подключил шаблон с разметкой страницы
extends pug/doctypes.pug

//- Изменил название страницы
block doctype
    //- Наименование главной страницы
    - var titleName = 'Производим строительные материалы';
    //- Массив с путями к файлам со стилями
    - var stylePath = [];

//- Вставил блок с будующим контентом
block content
    include pug/header.pug
    main.main
        section.main-drymixes-section
            include pug/main-drymixes.pug 
        section.plaster-section
            include pug/plaster-section.pug
    footer.footer
        include pug/footer.pug
        
    //--Библиотека jQuery
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    //--Готовый скрипт корзины
    <script defer src="https://lk.easynetshop.ru/frontend/v5/ens-f0a4ec62.js"></script>
    //- //--Стили элементов для корзины-->
    <link href="https://lk.easynetshop.ru/frontend/v5/ens-f0a4ec62.css" rel="stylesheet">