//- Подключил шаблон с разметкой страницы
extends pug/doctypes.pug

//- Изменил название страницы
block doctype
    //- Описание страницы в head discription
    - var contentDiscription = 'Научно-производственная фирма "Монолит"" - г. Пермь, производит сухие тампонажные материалы применяемые для строительства нефтяных и газовых скважин в сложных горно-геологических и технологических условиях.';
    //- Наименование главной страницы
    - var titleName = 'НПФ "Монолит" - официальный сайт';
    //- Массив с путями к файлам со стилями
    - var stylePath = [];

//- Вставил блок с будующим контентом
block content
    include pug/header.pug
    main
        section.main-index-section
            include pug/main-index.pug
        //-- Секция с информацией о выпускаемой продукции 
        section.production-section
            include pug/production.pug
        section.quality-section
            include pug/qualiti.pug
    footer.footer
        include pug/footer.pug
            
