@import 'variables.scss';


.footer__container {
    display: flex;
	padding: 30px 10px 30px 10px;
	justify-content: space-between;
}

.footer-contact__item {
	margin-bottom: 10px;
}

.footer-contact__discription {
	font-size: 18px;
	line-height: 30px;
	color: $color-title;
}

.footer-contact__discription_title {
	font-size: 32px;
	color: $color-title;
}

.footer-contact-link__item {
	text-align: right;
}

.footer-contact-link {
	font-size: 24px;
	color: $color-title;
}

.footer-contact-link_tel {
	font-size: 32px;
}

.logo_gubinvs_write {
	width: 1px;
}

.form-message {
	display: flex;
	flex-direction: column;
}

.form-message__lable {
	margin-bottom: 10px;
	font-size: 24px;
	color: $color-title;
}

.form-message__input,
.form-message__textarea,
.form-message__button {
	padding: 5px 10px 5px 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 0px;
}

.footer__button {
	width: 100%;
	cursor: pointer;
	border: 1px solid $color-title;
	color: $color-title;
}

.form-message__button:hover {
	background-color: $color-title__phone;
}

.copyright-block_copyright,
.copyright-block_person {
	display: block;
	width: 60%;
	text-align: left;
	color: $color-title;
}

.copyright-block_person:hover {
	color: $color-title__phone;

}

//-- Cтили для планшетов
@media only screen and (max-width: 1024px) {
	.footer__container {
		flex-direction: column;
	}

	.footer-contact__list:not(:last-of-type) {
		margin-bottom: 20px;
	}


}

//-- Cтили для смартфонов
@media only screen and (max-width: 420px) {
	
}