@import 'variables.scss';

.header {
	position: fixed;
	top: 0;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 84px;
	background-color: $color-title;
	z-index: 100;
}

.header__catalog {	
	background-color: $bg-color-footer;
}

.container-header {
	display: flex;
	padding: 0px 0px 0px 0px;
	justify-content: space-between;
	align-items: center;
}

.header-logo {
	display: flex;
	align-items: center;
	justify-items: center;
}

.header-logo__img {
	width: 60px;
}

.header-logo__title {
	display: flex;
	flex-direction: column;
	width: 150px;
	align-items: center;
	font-family: $font-family__title;
	font-weight: 100;
	color: $color-logoText;
}

.header-logo__name-ooo {
	font-family: $font-family__title;
	font-size: 12px;
}

.header-logo__name-ooo_catalog {
	font-family: $font-family__title;
	font-size: 12px;
	color: $color-title;
}

.header-logo__name-monolit {
	font-size: 36px;
	text-align: center;
}

.header-logo__name-monolit_catalog {
	color: $color-title;
}

//--навигация
.header-navigation {
	color: $bg-color-footer;
}

.header-navigation__catalog {
	color: $color-title;
}

.header-navigation__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
}

.header-navigation__item {
	color: $color-logoText;
}

.header-navigation__item:not(:last-of-type) {
	margin-right: 20px;
}

.header-navigation__item_catalog {
	color: $color-title;
}

.hn-link_catalog {
	color: $color-title;
}

.hn-link:hover {
	color: $color-title__phone;
}


.header-tel {
	width: 300px;
	align-items: center;
	font-family: $font-family__title;
	font-weight: 100;
	
}

.header-tel__link {
	display: block;
	padding: 15px 20px;
	font-size: 32px;
	border-radius: 10px;
	border: 1px solid $font-family__title;
	color: $color-logoText;
}

.header-tel__link_catalog {
	color: $color-title;
}

.header-blok-shop__link-tel {
	font-size: 32px;
}


@media only screen and (max-width: 1100px) {
	.header-navigation__list {
		padding-left: 20px;
		justify-content: flex-start;
	}
}



//-- Cтили для планшетов 
@media only screen and (max-width: 1024px) {

	.header-logo {
		margin-left: 0;
		margin-right: 0px;
		align-items: center;
		justify-items: center;
	} 

	.header-tel {
		display: none;
	}

}
@media only screen and (max-width: 960px) {
	.header-navigation__list {
		display: none;
	}
}



//-- Cтили для смартфонов 
@media only screen and (max-width: 480px) {
	.container-header {
		align-items: center;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.header-logo {
		margin-bottom: 0px;
		align-items: center;
		justify-items: center;
	} 

	.header-logo__img {
		margin: 0;
	}

	.header-tel__link {
		margin-right: 0px;
	}

	.header-tel {
		display: none;
	}
}
