.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 84px;
  background-color: #ffffff;
}

.header__catalog {
  background-color: #26344E;
}

.container-header {
  display: flex;
  padding: 0px 0px 0px 0px;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-items: center;
}

.header-logo__img {
  width: 60px;
}

.header-logo__title {
  display: flex;
  flex-direction: column;
  width: 150px;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-weight: 100;
  color: #07298D;
}

.header-logo__name-ooo {
  font-family: "Oswald", sans-serif;
  font-size: 12px;
}

.header-logo__name-ooo_catalog {
  font-family: "Oswald", sans-serif;
  font-size: 12px;
  color: #ffffff;
}

.header-logo__name-monolit {
  font-size: 36px;
  text-align: center;
}

.header-logo__name-monolit_catalog {
  color: #ffffff;
}

.header-navigation {
  color: #26344E;
}

.header-navigation__catalog {
  color: #ffffff;
}

.header-navigation__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-navigation__item {
  color: #07298D;
}

.header-navigation__item:not(:last-of-type) {
  margin-right: 20px;
}

.header-navigation__item_catalog {
  color: #ffffff;
}

.header-tel {
  width: 300px;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-weight: 100;
}

.header-tel__link {
  display: block;
  padding: 15px 20px;
  font-size: 32px;
  border-radius: 10px;
  border: 1px solid "Oswald", sans-serif;
  color: #07298D;
}

.header-tel__link_catalog {
  color: #ffffff;
}

.header-blok-shop__link-tel {
  font-size: 32px;
}

@media only screen and (max-width: 1024px) {
  .header-logo {
    margin-left: 0;
    margin-right: 0px;
    align-items: center;
    justify-items: center;
  }
}

@media only screen and (max-width: 480px) {
  .container-header {
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header-logo {
    margin-bottom: 0px;
    align-items: center;
    justify-items: center;
  }
  .header-logo__img {
    margin: 0;
  }
  .header-tel__link {
    margin-right: 0px;
  }
  .header-tel {
    display: none;
  }
}
