
@import 'variables.scss';

.massege__container {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.massege-taitle {
	font-size: 64px;
	margin-bottom: 23px;
}

.massege-discription {
	font-size: 28px;
	margin-bottom: 23px;
}

.robot-true-img {
	width: 600px;
	margin-bottom: 50px;
}

.massege-button {
	padding: 20px 30px 20px 30px;
	border-radius: 15px;
	background-color: #f28907;
	color: #fff;
	cursor: pointer;
}