// -- Шрифты
$font-family__title: 'Oswald', sans-serif;
$font-family__discr: 'Mulish', sans-serif;


// -- Цвета
$color-title: #ffffff;
$color-text: #454549;
$color-logoText: #07298D;
$color-title__phone: #f28907;

